@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
}

#navbar_container {
    background-color: #D2E9F8;
    border-radius: 100px;
    position: fixed;
    top: 0;
    right: 0;
    height: 90px;
    width: 99%;
    margin: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}  

.logo {
    width: auto;
    height: 65px;
    position: relative;
    left: 25px;
}

.website_name {
    color: #163B55;
    font-size: 50px;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navegation_items {
    list-style-type: none;
    margin-left: 163px;
    position: relative;
    float: right;
}

.navegation_items li {   
    padding-left: 43px;
    display: inline-block;
}

.navegation_items a {
    font-family: "El Messiri", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

.navegation_items a:hover {
    text-decoration: underline;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.banner {
    max-width: 100%;
    height: auto;
}

.blue-header {    
    width: 40%;
    background-color:#0674A7;
    border-radius: 50px;
    margin-top: -70px;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 54px;
    text-align: center;
    color:#FFFAFA
}

.blue-header h2 {
    font-family: "El Messiri", sans-serif;
    font-size: 50px;
    padding:0;
    margin-top: 37px;
    width: 70%;
    margin-left: 15%;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: -10px;
}

.blue-header p {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 80%;
    margin-bottom: 37px;
    margin-right: 10%;
    margin-left: 10%;
}

.article-typo {
    margin-left: 10%;
    margin-right: 10%;
}

.article-typo p {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
}


.article-typo form {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
}

.article-typo ::placeholder {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
}


.article-typo h3 {
    font-family: "El Messiri", sans-serif;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:0px;
    margin-top: 50px;
    color: #163B55
}

.article-typo h4 {
    margin-top: 30px;   
    margin-bottom: -5px;
    font-family: "El Messiri", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    color: #163B55
    
}

 .button {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFAFA;
    background-color: #FFB800;
    border-style: solid;
    border-color:#E0A100;
    text-decoration: none;
    border-width: 2px;   
    padding: 5px 20px;
    border-radius: 30px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.button-center {
    width: 20%;
    margin-left: 40%
}

a.button:hover {
    background-color: #163B55;
    border-style: solid;
    border-color:#011F2D;
}

figure {
    margin:0;
    padding:0;
}

figcaption {
    text-align: center;
    width: 400px;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-left:52px;
}

.images {
    width: 400px;
    height: 324px;
    object-fit: cover;
    border-style: solid;
    border-color: #0674A7;
    border-radius: 60px;
    border-width: 6px;
    padding: 15px;
}

.puppy_container {    
    display: flex;
    align-items: flex-start; 
}

.puppy_container figcaption{
    margin-left: 0;
}

.text-puppy {
    flex-grow: 1;
    width: 641px;
}

.text-puppy p {
    text-indent: 5%;
}

.image-puppy {
    margin-right: 52px;
    flex-shrink: 0;
}

.muffy_container {
    display: flex;
    align-items: flex-start;
    margin-top: 2px;
    margin-bottom: -10px;
}

.text-muffy {
    flex-grow: 1;
    width: 641px;
}

.text-muffy p {
    text-indent: 5%;
}

.image-muffy {
    margin-left: 52px;
    flex-shrink: 0;
}

#footer {
    background-color: #D2E9F8;
    height: 250px;
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-top: 90px;
}  

#footer p {
    position: relative;
    bottom: 0;
    text-align: center;
    margin-top: 70px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-container ul:last-of-type {
    align-self: flex-start;
}

.logo-footer {
    width: auto;
    height: 77px;
    position: relative;
    top: 20px;
}

.footer-items {
    list-style-type: none;
    margin-top: 53px;
    position: relative;
    float: right;
    margin-right:10%;
    padding: 0;
}

.footer-items li {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    margin-left: 0px;
    line-height: 150%;
}

.footer-items a {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    text-decoration: none;
    color:#000000
}

.footer-items a:hover {
    font-weight: bold;
}

.copyright {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:#000000
}

.hide-checkbox {
    display: none;
}

/* Estilos para el mensaje */
.cookies{
    position: fixed;
    bottom: 20%;
    left: 25%;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    z-index: 9999;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffd56c;
    font-size: large;
    border: 3px solid #E0A100;
    padding: 20px 40px;
}

/* Estilos para el botón */
.cookies-button {
    background-color: #D2E9F8;
    border: 3px solid #163B55;
    padding: 10px;
    border-radius: 8px;
}

/* Ocultar el mensaje cuando el checkbox está marcado */
#cookies-close:checked + .cookies {
    display: none;
}

.more-margin h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.less-margin h3:first-of-type
{
    margin-top: 0; 
}

.center > p:first-of-type {
    text-align: center;
}

.options-container {
    display: flex;
    column-gap: 90px;
    justify-content: space-between;
    background-color: #D2E9F8;
    border-radius: 30px;
    padding-left: 40px; /*Si pongo todo el padding en una sola linea no me sale*/
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
}

.optionbox-1, .optionbox-2
{
    width: 320px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.optionbox-1 a, .optionbox-2 a 
{
    align-self: flex-end
}

.curiosity-container {
    display: grid;
    column-gap: 0;
    grid-template-columns: 350px 250px 350px;
    grid-template-rows: auto auto;
    justify-content: space-around;
    margin-left:15%;
    margin-right:15%;
    margin-top: 40px;
    margin-bottom: 70px;
}

.way-img {
    width: 210px;
    align-self: center;
    justify-self: center;
}

.curiosity-typo p {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    border-style: solid;
    border-color: #0674A7;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

.curiosity-typo p:first-of-type {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.curiosity-typo p:last-of-type {
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
}

.curiosity-typo h3  {
    font-family: "El Messiri", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #163B55;
    width: 80%;
    align-self: center;
    justify-self: center;
    margin-bottom: 0;
}

.tips-box {
    background-color: #D2E9F8;
    display:flex;
    border-radius: 30px;
    padding-left: 40px; /*Si pongo todo el padding en una sola linea no me sale*/
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-around;
}

.tips-box p {
    width: 60%;
}

.tips-box a {
    height: fit-content;
    margin: 0;
}

aside {
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    border-color: #0674A7;
    width: 60%;
    margin-left:20%;
    margin-right: 20%;;
    margin-bottom: 60px;
}

table {
    border:4px solid #D2E9F8;
    padding:5px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    width:100%;
}

table th {
    border-bottom:1px solid black;
    text-align: center;
}

table td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #CFF;
}

tr:nth-child(odd) {
    background-color: #FFF;
}

tr:hover {
    background-color: #D2E9F8;
}

/*-----Specifics-Page-1--------------------------------------------------------*/
.blue-header a{
    color: #FFB800;
    font-weight: 900;
}

.image-profile {
    width: 276px;
    height: 300px;
    object-fit: cover;
    border-style: solid;
    border-color: #163B55;
    border-radius: 20px;
    border-width: 4px;
}

.paragraph-enter p {
    width: 350px; 
    margin: -15px auto 50px auto ;
    white-space: pre-line;
}

.profile-containers {
    display: grid;
    column-gap: 160px;
    row-gap: 0;
    grid-template-columns: 277px 277px 277px;
    grid-template-rows: auto auto auto auto auto auto; /*cambiar tamaño*/
    justify-content: space-between;
    margin-bottom: 30px;
}

.profile-containers h3 {
    justify-self: start; 
    margin-left: 0;
    padding-left: 0;
    margin-top:0;
    margin-bottom: -15px;
}

/*-----Specifics-Page-3--------------------------------------------------------*/
.shelters-container {
    display: grid;
    column-gap: 160px;
    row-gap: 0;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: auto auto; /*cambiar tamaño*/
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

/*como poner la letra dentro de los botones en negrita sin cambiar la de parrafos enteros*/

.shelters-container img {
    height: 120px;
    width: auto;
}

.shelters-container .button {
    margin: 20px auto;
}

.shelters-container a:active /*no me funciona*/ {
    background-color: #163B55;
    border-style: solid;
    border-color:#011F2D;
}

.donate-container {
    display: flex;
    margin-top: 45px;
    align-items: center;
}

.content-donate {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-donate h3
{
    align-self: center;
}

.donate-container img {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 52px;
}

/*-----Specifics-Page-4--------------------------------------------------------*/
.list-container {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.tips {
    flex-grow: 1;
    /*width: 641px;*/
    /*margin-left: 10px;*/
    background-color: #D2E9F8;
    padding: 35px;
    padding-left: 70px;
    border-radius: 60px;
    margin-right: 30px;
}

.tips li {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 35px;
}

.tips li:first-of-type {
    margin-top:0;
}

/*-----Specifics-Contact--------------------------------------------------------*/
.contact-container {
    display: flex;
}

.text-container {
    margin-right: 96px;
}

.form-container p::first-letter {
    font-size: 150%;
    font-weight: bold;
}

.form-container input, .form-container textarea {
    background-color: #D2E9F8;
    border-radius: 10px;
    border-style: none;
    padding: 20px 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 550px;
    border-style: none;
}

.form-container p {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: #FFB800
}

.form-container label {
   margin-top: 20px;
}

.form-container input[type="submit"].button {
    font-weight: 700;
    color: #FFFAFA;
    background-color: #FFB800;
    border-style: solid;
    border-color:#E0A100;
    text-decoration: none;
    border-width: 2px;   
    padding: 5px 20px;
    margin-right: 30px;
    border-radius: 30px;
    width: fit-content;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

legend {
    text-transform: uppercase;
}


.checklist-container {
    display: flex;
    margin-right: 50%;
    justify-content: space-between;
    align-items: baseline;
}

.checklist-container label {
    margin-top: 10px;
}


@media (max-width: 768px) {
    #navbar_container {
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        position: relative;
        top: 0;
        border-radius: 0;
        margin: 0;
    }
    
    .logo {
        height: 50px; /* tamaño ajustado */
        position:relative;
        left: 0;
        margin-top: 10px;
    }
    
    .website_name {
        display: none;
    }
    
    .navegation_items {
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 5px;
        margin-left: 0;
        padding-left: 0;
    }
    
    .navegation_items li {
        display: block;
        margin: 10px 0;
        padding-left: 0;
    }
    
    .blue-header {
        width: 80%; /* Cambiado a porcentaje */
        margin: -20px auto 20px auto; /* Centrado */
    }
    
    .blue-header h2 {
        font-size: 1.5em; /* cambiado de px a em */
        width: auto; /* ancho automático */
        margin: 0 auto; /* centrado automático */
    }
    
    .blue-header p, .article-typo p, .text-puppy, .text-muffy, .tips  {
        width: 90%;
        margin: 10px auto; /* centrado automático */
        font-size: 1em; /* cambiado de px a em */
    }

    #footer {
        height: auto;
        padding: 20px;
    }

    .footer-items {
        margin: 10px 0;
        text-align: center;
    }
    
    .footer-container ul:last-of-type {
        align-self: center;
        margin-top: 10px;
    }

    .logo-footer {
        height: 50px; /* tamaño ajustado */
        margin-bottom: 20px;
    }

    .copyright {
        margin: 10px auto;
    }

    .puppy_container, .muffy_container, .tips-box, .tips, .donate-container, 
    .footer-container, .list-container, .contact-container {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .muffy_container
    {
        margin-bottom: 25px;
    }

    .images {
        width: 100%;
        margin: 20px auto auto 0;
        padding: 10px;
    }

    .button {
        font-size: 1em; /* cambiado de px a em */
        padding: 10px;
        margin: 10px auto;
        text-align: center;
    }

    /*Page 2-------------------------------------------------------*/
    .text-puppy, .text-muffy {
        margin: 0;
    }

    figure{
        width: 90%;
    }

    figcaption{
        width: auto;
        margin-left:0;
    }

    aside {
        width: 90%;
        margin: 10px auto;
        padding: 10px;
    }

    table {
        font-size: 1em; /* cambiado de px a em */
        width: 100%;
    }

    /*Page 1-------------------------------------------------------*/
    .profile-containers {
        grid-template-columns: 1fr 1fr; /* Una columna */
        grid-template-rows: auto;
        gap: 20px; /* Espaciado entre elementos */
        margin-bottom: 20px;
    }

    .item-1 {grid-area: 1/1/3/2;}
    .item-2 {grid-area: 3/1/5/2;}
    .item-3 {grid-area: 5/1/7/2;}
    .item-4 {grid-area: 1/2/3/3;}
    .item-5 {grid-area: 3/2/5/3;}
    .item-6 {grid-area: 5/2/7/3;}
    .item-7 {grid-area: 2/2/3/3;}
    .item-8 {grid-area: 4/2/5/3;}
    .item-9 {grid-area: 6/2/7/3;}

    .item-10 {
        grid-area: 1/2/3/3;
        align-self: center;
    }
    .item-11 {
        grid-area: 3/2/5/3;
        align-self: center;
    }
    .item-12 {
        grid-area: 5/2/7/3;
        align-self: center;
    }

    .profile-containers p {
        text-align: left;
    }

    .image-profile {
        width: 100%;
        height: auto;
    }

    /*Page 3-------------------------------------------------------------*/
    .shelters-container {
        grid-template-columns: 1fr 1fr; /* Una columna */
        grid-template-rows: auto;
        gap: 20px;
        margin: 10px;
        align-items: center;
    }
    
    .shelters-container img {
        width: 60%;
        height: auto;
    }

    .donate-container img {
        margin: 20px auto auto 0;
    }

    /*Page 4--------------------------------------------------------------*/
    
    .tips {
        width: 100%;
        font-size: 1em; /* cambiado de px a em */
    }
    
    /*Contact --------------------------------------------------------------*/
    .text-container, .form-container {
        width: 90%;
        margin: 10px 0;
    }

    .text-container p, .form-container p {
        font-size: 1em; /* cambiado de px a em */
    }  

    /*Home--------------------------------------------------------------*/
    .options-container {
        flex-direction: column;
        background-color: #FFF;
        padding:0;
        margin-bottom: 20px;
    }

    .optionbox-1, .optionbox-2{
        border-style: solid;
        border-radius: 30px;
        padding-left: 40px; 
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .optionbox-1{
        border-color: #D2E9F8;
        background-color: #FFF;
        border-width: 5px;
    }
    
    .optionbox-2{
        background-color: #D2E9F8;
        border-style: none;
    }

    .curiosity-container {
        display: none;
    }

    .cookies {
        width: 100%;
        left: 0;
    }
}











    

